/* styles.css */
*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-header {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.input-container input {
  margin-right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  flex-grow: 1; /* Займає всю доступну ширину контейнера */
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
  border: none ;
  outline: none;
  border-radius: 4px;
  transition: padding 0.4s;
}

.input-container input:focus {
  padding-right: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-right: 3rem;
  margin-top: 2px;
}

li {
  margin-bottom: 5px;
  margin-top: 2px;
  text-align: left;
}
.button-class {
  /* Стилі для кнопки */

  background-color: #61dafb;
  color: white;
  padding: 11px;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
}
.delete-button{
  background-color: #43C6AC;
  color: white;
  margin-left: 3rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  margin-top: 10px;
}
